################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/stock-flow/.vs/stock-flow
/src/stock-flow/obj
