################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/stock-flow/.vs
/src/stock-flow/obj
/.vs
/src/stock-flow/bin/Debug/net6.0
